.card {
  width: 24%;
  height: 375px;
  overflow: hidden;
  margin: 20px 0;
}
.cardImage {
  width: 100%;
  height: 320px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #f7f7f7;
}
.cardImage img {
  width: 100%;
}
.titlePrice {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0 0;
}
.title {
  font-weight: 600;
  overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    width: 75%;
}
.price {
}
.titleSubPrice {
  display: flex;

  justify-content: space-between;
}
.titleSub {
  color: grey;
}
.priceSub {
  color: grey;
}
.heartIcon {
  position: absolute;
  /* width: 24px; */
  /* height: 24px; */
  background: none;
  border: none;
  outline: none;
  right: 15px;
  top: 15px;
  text-align: center;
}
.heartIcon img {
  width: 24px;
  height: 24px;
}
@media only screen and (max-width: 942px) {
  .card {
    width: 49%;
  }
}
@media only screen and (max-width: 570px) {
  .card {
    width: 99%;
  }
}
