.layoutHeader {
  height: 80px;
  left: 0px;
  width: 100%;
  z-index: 100;
}

.mainHeaderContainer {
  justify-content: space-between;

  align-items: center;

  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
  padding: 0 24px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 1px;
  padding-right: 80px;
  padding-left: 80px;
  box-sizing: border-box;
}
.headerContainerLeft {
  flex: 1 0 140px;
}
.headerContainerCenter {
  flex: 0 1 auto;
  min-width: 0px;
  padding: 0 24px;
}
.headerContainerLRight {
  flex: 1 0 140px;
  height: 80px;

  width: 100%;
}

.mobileLogo {
  display: none;
}
.desktopLogo {
}
.logo {
  outline: none;

  align-items: center;

  display: inline-flex;
  height: 80px;
  position: relative;
  vertical-align: middle;
  z-index: 1;
  color: #ff385c;
}
.becomeHost {
  appearance: none;
  background: transparent;
  border: 0px;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  margin: 0px;
  outline: none;
  overflow: visible;
  padding: 12px;
  text-align: inherit;
  text-decoration: none;

  user-select: auto;
  position: relative;
  white-space: nowrap;
  z-index: 1;
  color: #222222;
  border-radius: 22px;
}
.navclass {
  position: relative;

  display: flex;

  align-items: center;

  justify-content: flex-end;
  height: 80px;

  width: 100%;
}
.becomeHostHolder {
  margin-right: 8px;
}
.becomeHost:hover {
  background-color: #f7f7f7;
}
.worldicon {
  border: 0px;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  margin: 0px;
  outline: none;
  overflow: visible;
  /* padding: 12px; */
  text-align: inherit;
  text-decoration: none;
  -webkit-user-select: auto;
  user-select: auto;
  color: #222222;
  line-height: 43px;
  height: 40px;
  width: 42px;
  vertical-align: middle;
  box-sizing: border-box;
  border-radius: 20px;
  text-align: center;
  background: none;
}
.worldicon:hover {
  background-color: #f7f7f7;
}
.userIcon {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 1px solid #dddddd;
  color: #222222;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0px;
  outline: none;
  overflow: visible;
  padding: 5px 5px 5px 12px;
  text-align: inherit;
  text-decoration: none;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  -webkit-align-items: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 21px;
  height: 42px;
  position: relative;
  vertical-align: middle;
  -webkit-transition: box-shadow 0.2s ease;
  -moz-transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  z-index: 1;
}
.userIcon:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18) !important;
}
.userImg {
  margin-left: 12px;
  color: #717171;
}
.linesIcon {
  display: inline;
}
@media only screen and (max-width: 942px) {
  .mainHeaderContainer {
    
    padding-right: 20px;
    padding-left: 20px;
   
  }
}